.button {
  background: linear-gradient(to right, #90cea1, #3cbec9);
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.button p {
  font-size: 18px;
  padding: 20px;
}

.button:hover {
  opacity: 0.8;
}
